*
{
    padding-top: 5px;
    padding-bottom: 5px;
}
body
{
    padding-left: 180px;
    padding-right: 180px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.centertext
{
    text-align: center;
}

.formdiv
{
    max-width: 500px;
    padding-top: 150px;
}

.bgcolordiv
{
    background-color: lightblue;
}

.textboxwid
{
    width: 100%;
}

ul
{
    list-style: none;
}

.selectsize
{
    width: 200px;
    height: 185px;
}
.medtextsize
{
    width: 400px;
}